@inherits LayoutComponentBase

<main class="container">
    <header>
        <h1>This is the header</h1>
    </header>

    <div class="content">
        @Body
    </div>

    <footer>
        This is the footer
    </footer>
</main>

